.header {
    grid-area: h;
    background-color: cadetblue;
    overflow: hidden;
    border-radius: 5px;
}

.header img {
    width: 60px;
    height: 60px;
}

.loginBlock {
    float: right;
}

.loginBlock a {
    color: white
}