.nav {
    grid-area: n;
    background-color: cadetblue;
    padding: 20px;
    border-radius: 5px;
    height: auto;
}

.text {
    grid-area: t;
    font-size: 25px;
    color: white;
    text-align: center;


}
.sidebarElements {
    display: grid;
    grid-template-areas:
            't t t'
            "s s s";
    grid-auto-rows: 50px 1fr;
    background-color: cadetblue;
}

a {
    font-size: 22px;
    text-decoration: none;
}

a:visited {
    color: white;
}

a:hover {
    color: gold;
}


