.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .dialog {
    color: black;
}

.dialogsItems .dialog img {
    width: 40px;
}

.dialog .active {
    color: black;
    text-decoration: none;
}

.messages {
    padding: 10px;
}

.messages .message {

}