.paginator {
    margin-top: 10px;
    cursor: pointer;
}

.pageNumber {
    padding: 5px;
    border: 1px solid grey;
}

.selectedPage {
    border: 2px solid black;
    padding: 5px;
    font-weight: bold;
}

